@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;500;700&display=swap');

:root {
    --primary-color: #209a7a;
    --secondary-color: #1d564b;
    --sextenary-color: #DEDEE0;

    --primary-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.profile__body {
    height: 100vh;
    background-image: linear-gradient(180deg, var(--primary-color) 20%, var(--secondary-color)80%);
}

.profile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5% 0;
}

.profile__header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile__header__nav__logo {
    width: 12rem;
}

.profile__header__nav__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.10rem;
    color: var(--sextenary-color);
    transition: 150ms ease-in-out;
}

.profile__header__nav__text:hover {
    color: var(--secondary-color);
}

.profile__header__icon {
    width: 8%;
}